
p{
	background-color:#D1F2EB;
	color:#196F3D ;
	text-decoration: underline wavy #3498DB;
	font-size: 40px;
	text-align: right;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.ts{
  text-shadow: 2px 2px #666666;
	
}